# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.puerts_unity_demo.iml
# Editor-based HTTP Client requests
/httpRequests/
